<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"></pages>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Samples.RestFul.EmployeeServiceImplementation">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="Samples.RestFul.IEmployeeServiceContract"
                  behaviorConfiguration="webHttp">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <connectionStrings>
    <add name="Oracle" connectionString="Data Source=xe;user id=hr;password=Pa$$W0rd"/>
  </connectionStrings>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
