<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Samples.WCF.Post.EmployeeServiceImplementation"
    	behaviorConfiguration="meta">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="Samples.WCF.Post.IEmployeeServiceContract"
				  behaviorConfiguration="webHttp" />
      </service>
    </services>
	<behaviors>
		<serviceBehaviors>
			<behavior name="meta">
				<serviceMetadata httpGetEnabled="true"></serviceMetadata>
				<serviceDebug includeExceptionDetailInFaults="true"></serviceDebug>
			</behavior>
		</serviceBehaviors>
	  <endpointBehaviors>
        <behavior name="webHttp">
            <webHttp/>
        </behavior>
      </endpointBehaviors>
     </behaviors>
  </system.serviceModel>
<connectionStrings>
	<add name="Oracle" connectionString="Data Source=xe;user id=hr;password=hr"></add>
</connectionStrings>
</configuration>
